  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_id}}" placeholder="project id" name="project_id" readonly hidden>
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_name}}" placeholder="Name" name="Project_name">
      <label for="floatingInput">Project Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.Project_Date}}" placeholder="number" name="Project_Date">
      <label for="floatingInput">Project Date</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_link}}" placeholder="text" name="Project_link">
      <label for="floatingInput">Project Link</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_Guide}}" placeholder="text" name="Project_Guide">
      <label for="floatingInput">Project Guide</label>
    </div>
  <div style="display: flex;  justify-content: flex-end; margin-right: 510px">
  <button type="submit" style="background-color: #0e1539; /* Green */
    border: none;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    font-size: 14px; /* Adjust font size */
    cursor: pointer;
    border-radius: 15px;">Submit</button>
</div>