<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Your Page Title</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Custom CSS -->
    <link href="/public/css/main.css" rel="stylesheet">
</head>
<body>
<a class="btn btn-outline-light" aria-current="page" href="/login" type="button" style="border-radius: 20px; padding: 0.5rem 1rem; color: #ffffff; background-color: #060606; border-color: #f7f9f9; margin-left: 1100px">Logout</a>
{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Student has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1 style="font-family: 'Roboto', sans-serif; font-size: 36px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);color: #653418; margin-bottom: 20px; ">ACADEMIC PROJECTS</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
   
  </div>
</div>

<table class="table table-bordered" style="border-collapse: collapse; width: 100%; margin-top: 20px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="font-weight: bold;">Project ID</th>
      <th scope="col" style="font-weight: bold;">Project Name</th>
      <th scope="col" style="font-weight: bold;">Project Guide</th>
      <th scope="col" class="text-end" style="font-weight: bold;">Action</th>
    </tr>
  </thead>
  <tbody style="background-color: #f8f9fa;">
    {{#each rows}}
    <tr>
      <th scope="row">{{this.Project_id}}</th>
      <td>{{this.Project_name}}</td>
      <td>{{this.Project_Guide}}</td>
      <td class="text-end">
  <a href="/view-user-guide/{{this.Project_id}}" type="button" class="btn btn-light btn-small" style="font-size: 14px; padding: 8px 16px; background-color: #0c0d35; color: #fff; border-color: #070707;">
    <i class="bi bi-eye"></i> View
  </a>
</td>


    </tr>
    {{/each}}
  </tbody>
</table>

</body>
</html>